{{#each}}
            <h2 class="modal__header">Negroni</h2>
            <h3 class="instruction">Instractions:</h3>
            <p class="instruction-text">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
                and stir until well-chilled. Strain into a
                rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
            <img src="./images/yura/negroni-mobile.jpg" alt="drink">
            <h3 class="ingredients">INGREDIENTS</h3>
            <p class="per-coctail__text">Per cocktail</p>
            <ul class="ingredients-list">
                <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ Ice
                    </a></li>    
            </ul>
    {{/each}}

    