body {
  font-family: $poppins-family;
  background-color: var(--primary-white-color);
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

input {
  outline: none;
}

.container {
  padding: 0 20px;
  max-width: 480px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1280px;
    padding: 0 16px;
  }
}
