$pre-mobile: 479.98px;
$mobile: 480px;
$pre-tablet: 767.98px;
$tablet: 768px;
$pre-desctop: 1279.98px;
$desctop: 1280px;

$primary-color: #202025;
$primary-white-color: #fcfcfc;
$primary-text-color: #fd5103;
$secondary-text-color: #5f6775;
$primary-button-color: #fe7031;

$poppins-family: 'Poppins', sans-serif;
$poppins-font-400: 400;
$poppins-font-500: 500;
$poppins-font-600: 600;
$poppins-font-700: 700;
$roboto-family: 'Roboto', sans-serif;
$roboto-font-400: 400;
$roboto-font-700: 700;
