<!-- <div data-modal class="backdrop">
    <div class="modal">
        <div class="modal-ingridients__body">
            <button data-modal-close class="icon-close"><svg width="32" height="32">
                    <use href="./images/icon.svg#close"></use>
                </svg></button>
            <h2 class="modal__header">Campari</h2>
            <h3 class="alcohol-type">Liqueur</h3>
            <p class="alcohol-type-text">Campari is an Italian alcoholic liqueur, considered an apéritif (20.5%,
                21%, 24%, 25%, or 28.5% ABV, depending on the
                country in which it is sold), obtained from the infusion of herbs and fruit (including chinotto and
                cascarilla) in
                alcohol and water. It is a bitters, characterised by its dark red colour.</p>
            <ul class="descr-list">
                <li class="descr-list__item"><a class="descr-list__link" href="">✶ Type: Bitters</a></li>
                <li class="descr-list__item"><a class="descr-list__link" href="">✶ Country of origin: Italy</a></li>
                <li class="descr-list__item"><a class="descr-list__link" href="">✶ Alcohol by volume: 20.5–28.5%</a>
                </li>
                <li class="descr-list__item"><a class="descr-list__link" href="">✶ Flavour: Bitter, spicy and
                        sweet</a></li>
            </ul>
            <button class="modal__btn add__btn" type="submit">Add to favorite</button>
            <button class="modal__btn remove__btn is-hidden" type="submit">Remove from favorite</button>
            </form>
        </div>
    </div>
</div> -->


<div data-modal-set class="backdrop is-hidden">
    <div class="modal">
        <div class="modal-ingridients__body">
            <button data-ingr-modal-close class="icon-close"><svg width="32" height="32">
                    <use href="./images/icon.svg#close"></use>
                </svg></button>
            <!-- <h2 class="modal__header">Campari</h2>
            <h3 class="alcohol-type">Liqueur</h3>
            <p class="alcohol-type-text">Campari is an Italian alcoholic liqueur, considered an apéritif (20.5%,
                21%, 24%, 25%, or 28.5% ABV, depending on the
                country in which it is sold), obtained from the infusion of herbs and fruit (including chinotto and
                cascarilla) in
                alcohol and water. It is a bitters, characterised by its dark red colour.</p>
            <ul class="descr-list">
                <li class="descr-list__item"><a class="descr-list__link" href="">✶ Type: Bitters</a></li>
                <li class="descr-list__item"><a class="descr-list__link" href="">✶ Country of origin: Italy</a></li>
                <li class="descr-list__item"><a class="descr-list__link" href="">✶ Alcohol by volume: 20.5–28.5%</a>
                </li>
                <li class="descr-list__item"><a class="descr-list__link" href="">✶ Flavour: Bitter, spicy and
                        sweet</a></li>
            </ul> -->
            <button class="modal__btn add__btn" type="submit">Add to favorite</button>
            <button class="modal__btn remove__btn is-hidden" type="submit">Remove from favorite</button>
            </form>
        </div>
    </div>
</div>