<div data-modal class="backdrop is-hidden">
    <div class="modal">
        <div class="modal__body modal-mobile__body">
            <button data-modal-mobile-close class="icon-close">
                <svg width="32px" height="32px">
                    <use href="./images/icon.svg#close"></use>
                </svg>
            </button>
            <!-- <h2 class="modal__header">Negroni</h2>
            <h3 class="instruction">Instractions:</h3>
            <p class="instruction-text">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
                and stir until well-chilled. Strain into a
                rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
            <img src="./images/yura/negroni-mobile.jpg" alt="drink">
            <h3 class="ingredients">INGREDIENTS</h3>
            <p class="per-coctail__text">Per cocktail</p>
            <ul class="ingredients-list">
                <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ Ice
                    </a></li>
                <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ 1 ounce gin</a></li>
                <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ 1 ounce Campari</a>
                </li>
                <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ 1 ounce sweet
                        vermouth</a></li>
                <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ Garnish: orange
                        peel</a></li>
            </ul> -->
            <button class="button modal__btn add__btn" type="submit">
                Add to favorite
            </button>
            <button class="button modal__btn remove__btn is-hidden" type="submit">
                Remove from favorite
            </button>
        </div>
        
        <div class="modal">
            <div class="modal__body modal-tablet__body">
                <button data-tablet-modal-close class="icon-close">
                    <svg width="32px" height="32px">
                        <use href="./images/icon.svg#close"></use>
                    </svg>
                </button>
                <!-- <div class="tablet-wrapper">
                    <img src="./images/yura/negroni-mobile.jpg" alt="drink">
                    <div class="tablet-wrapper__text">
                        <h2 class="modal__header">Negroni</h2>
                        <h3 class="ingredients">INGREDIENTS</h3>
                        <p class="per-coctail__text">Per cocktail</p>
                        <ul class="ingredients-list">
                            <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ Ice
                                </a></li>
                            <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ 1 ounce
                                    gin</a>
                            </li>
                            <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ 1 ounce
                                    Campari</a>
                            </li>
                            <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ 1 ounce sweet
                                    vermouth</a></li>
                            <li class="ingredients-list__item"><a class="ingredients-list__link" href="">✶ Garnish:
                                    orange
                                    peel</a></li>
                        </ul>
                    </div>
                </div>
                <h3 class="instruction">Instractions:</h3>
                <p class="instruction-text">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
                    and stir until well-chilled. Strain into a
                    rocks glass filled with large ice cubes. Garnish with an orange peel.</p> -->
                <button class="button modal__btn add__btn" type="submit">
                    Add to favorite
                </button>
                <button class="button modal__btn remove__btn is-hidden" type="submit">
                    Remove from favorite
                </button>
            </div>
        </div>
    </div>
</div>
</div>