<section class="cards__pagination">
  <div class="container pagination__wrapper">
    <div class="pagination__controls">
      <button class="page__arrow page-prev disabled" disabled="true">
        <svg class="svg-icon" width="24px" height="24px">
          <use
            href="/CocktailsTeamProject/icons.6aab55b6.svg#icon-chevron-prev"
          ></use>
        </svg>
      </button>
      <div class="pagination__numbers">
        <a class="page__number page-active">1</a>
        <a class="page__number">2</a><a class="page__number">3</a>
      </div>
      <button class="page__arrow page-next">
        <svg class="svg-icon" width="24px" height="24px">
          <use
            href="/CocktailsTeamProject/icons.6aab55b6.svg#icon-chevron-next"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
