.header {
  padding: 20px 0;
  position: relative;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.nav__link {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
letter-spacing: 0.02em;
color: #000000;
text-transform: uppercase;
&:hover{
  color:#FD5103 ;

}
}

.nav__item:not(:last-child){
  margin-bottom: 30px;
}

.nav__item:last-child:hover .dropdowm__list{
  display: block;
  color:#FD5103 ;
}
.dropdown-icon:hover .dropdowm__list{
  display: block;
 
  
}

.dropdowm__list{
  display: none;
  background-color: #FCFCFC;
  color:#000000;

  position: absolute;
 
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  //border: 1px solid $main-orange;
  border-radius: 5px;
  z-index: 1;
 
}

.dropdowm__link {
  min-width: inherit;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.02em;


}
.dropdown__item {
  background-color: #FCFCFC;
  padding: 12px;
  color: #000000;
  &:hover{
    background-color:#FD5103 ;
    color: #FCFCFC;
  
  }
}


.header-switch{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.header-light {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71px;
  color: #FD5103;
}

.header-dark {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71px;
  color: #15141D;
}

.switch {
  margin: 0 8px;
  border: 1px solid #FD5103;
border-radius: 20px;
background-color: #FFFFFF;
width: 40px;
height: 16px;

& input {
  display: none;
}
}

.slider {
  position: absolute;
  overflow: hidden;
  width: 12px;
  height: 12px;
  background-color: #FD5103;
  border-radius: 30px;
  border: 1px solid #FD5103;
  cursor: pointer;
  &::after{
    content: '';
    border-radius: 20px;
    border: 1px solid #FD5103;
    width: 12px;
    position: absolute;
  }
}

input:checked + .slider {
  background-color: #FD5103;
  transform: translateX(28px);
}

.header__search {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 40px;
}

.btn-search {
padding:10px;
background-color: transparent;
border: 1px solid #FD5103;
border-radius: 4px 0 0 4px;
width: 40px;
  height: 40px;
  cursor: pointer;
}

.search-text {
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #FD5103;
  height: 40px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
padding: 8px;
width: inherit;
}

.tablet {
  display: none;
}

.nav-btn {
border: none;
padding: 0;
background-color: transparent;
z-index: 3;
@media screen and(min-width: $desktop){
  display: none;
} 
}

.is-open {
right: 0;
};