.header {
  padding: 20px 0;
  position: relative;
  background-color: var(--primary-white-color);
  @media screen and(min-width: $desktop) {
    position: static;
  }
}
.header-logo {
  @media screen and(min-width: $tablet) {
    z-index: 3;
  }
  @media screen and(min-width: $desktop) {
    margin-right: 43px;
  }
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and(min-width: $tablet) {
    align-items: flex-end;
  }
  @media screen and(min-width: $desktop) {
    align-items: center;
  }
}

.nav-wrapper {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: var(--primary-white-color);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  transition: right 0.5s linear;
  @media screen and(min-width: $tablet) {
    align-items: center;
  }
  @media screen and(min-width: $desktop) {
    position: static;
    padding: 0px;
    flex-direction: row;
    height: 100%;
    // justify-content: center;
  }
}
.nav__list {
  @media screen and(min-width:$tablet) {
    margin-top: 51px;
  }
  @media screen and(min-width: $desktop) {
    margin-top: 0px;
    display: flex;
  }
}

.nav__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-color);

  &:hover {
    color: #fd5103;
  }
  @media screen and(min-width: $desktop) {
    font-size: 18px;
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 30px;
  @media screen and(min-width: $desktop) {
    margin-bottom: 0px;
    margin-right: 60px;
  }
}

.nav__item:last-child:hover .dropdowm__list {
  display: block;
  color: #fd5103;
}

.dropdown-icon {
  &:hover .dropdowm__list {
    display: block;
  }
  @media screen and(min-width: $desktop) {
  }
  display: none;
}

.dropdowm__list {
  display: none;
  background-color: var(--primary-white-color);
  color: var(--primary-color);

  position: absolute;

  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  //border: 1px solid $main-orange;
  border-radius: 5px;
  z-index: 1;
}

.dropdowm__link {
  min-width: inherit;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.dropdown__item {
  background-color: var(--primary-white-color);
  padding: 12px;
  color: var(--primary-color);

  &:hover {
    background-color: #fd5103;
    color: var(--primary-white-color);
  }
}

.header-switch {
  margin-top: 7px;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  @media screen and(min-width: $tablet) {
    justify-content: center;
    margin-top: 0px;
  }
}

.header-light {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71px;
  color: #fd5103;
}

.header-dark {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-color);
}

.switch {
  cursor: pointer;
  margin: 0 8px;
  border: 1px solid #fd5103;
  border-radius: 20px;
  background-color: var(--primary-white-color);
  width: 40px;
  height: 16px;

  box-shadow: 0 0 0 2px #fd5103, 0 0 4px #fd5103;

  & input {
    display: none;
  }
}

.slider {
  position: absolute;
  overflow: hidden;
  width: 12px;
  height: 12px;
  background-color: #fd5103;
  border-radius: 30px;
  border: 1px solid #fd5103;
  cursor: pointer;
  &::after {
    content: '';
    border-radius: 20px;
    border: 1px solid #fd5103;
    width: 12px;
    position: absolute;
  }
}

input:checked + .slider {
  background-color: #fd5103;
  transform: translateX(28px);
}

.header__search {
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 40px;
  @media screen and(min-width: $tablet) {
    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @media screen and(min-width: $desktop) {
    display: flex;
    width: 288px;
    height: 100%;
  }
}

.btn-search {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #fd5103;
  border-radius: 4px 0 0 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.search-text {
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #fd5103;
  height: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 8px;
  width: inherit;
  background-color: inherit;
  color: var(--primary-color);
}

.tablet {
  display: none;
  @media screen and(min-width: $tablet) {
    display: flex;
    width: 280px;
  }
  @media screen and(min-width: $desktop) {
    display: none;
  }
}

.nav-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  z-index: 3;

  @media screen and(min-width:$desktop) {
    display: none;
  }
}

.is-open {
  right: 0;
}
