.hero__container-mobile {
  @media screen and (max-width: $pre-tablet) {
    margin-top: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.hero__container-tablet-desktop {
  @media screen and (max-width: $pre-tablet) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 52px;
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $desctop) {
    margin-top: 60px;
  }
}

.hero__title-container {
  @media screen and (max-width: $pre-tablet) {
    display: flex;
    justify-content: end;
    margin-bottom: 39px;
  }
}

.hero__text-wrapper {
  margin-right: 18px;
  margin-left: 32px;

  @media screen and (min-width: $desctop) {
    margin-right: 38px;
    margin-left: 16px;
  }
}

.hero__img-wrapper {
  width: 368px;
  height: 329px;

  @media screen and (min-width: $desctop) {
    width: 549px;
    height: 492px;
  }
}

.hero__title-wrapper {
  max-width: 300px;
  @media screen and (min-width: $tablet) {
    max-width: 336px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desctop) {
    max-width: 688px;
  }
}

.hero__title {
  font-family: $poppins-family;
  font-weight: $poppins-font-600;
  font-size: 22px;
  line-height: 1.91;
  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 1.62;
  }

  @media screen and (min-width: $desctop) {
    font-size: 52px;
    line-height: 1.54;
  }
}

.hero__img {
  @media screen and (max-width: $pre-tablet) {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

.hero__text {
  font-family: $poppins-family;
  font-weight: $poppins-font-500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.8;

  @media screen and (max-width: $pre-tablet) {
    text-align: center;
    margin-bottom: 26px;
  }

  @media screen and (min-width: $tablet) {
    color: $primary-color;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desctop) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.hero__search-list-wrapper {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 324px;
  }

  @media screen and (min-width: $desctop) {
    width: 520px;
  }
}

.hero__search-list-letters {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 12px;

  @media screen and (min-width: $desctop) {
    margin-bottom: 15px;
    gap: 24px;
  }
}

.hero__search-list-numbers {
  margin-left: 30px;
  display: flex;
  gap: 18px;

  @media screen and (min-width: $desctop) {
    margin-left: 45px;
    gap: 28px;
  }
}

.hero__search-item {
  font-family: $poppins-family;
  font-weight: $poppins-font-700;
  font-size: 14px;
  line-height: 1.5;
  color: $secondary-text-color;

  @media screen and (min-width: $desctop) {
    font-size: 24px;
    line-height: 1.5;
  }

  &:hover,
  &:focus {
    color: $primary-text-color;
    -webkit-text-stroke: 1px $secondary-text-color;
    text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
  }
}

// .hero__mobile-search {
//   display: block;
//   margin-right: auto;
//   margin-left: auto;
//   margin-bottom: 40px;
//   padding: 6px 10px;
//   width: 93px;
//   height: 34px;
//   border: 1px solid $primary-text-color;
//   border-radius: 4px;
//   cursor: pointer;
//   appearance: none;
//   // background: url("./img/mdi-light_chevron-down.svg") no-repeat right;

//   font-family: $poppins-family;
//   font-weight: $poppins-font-700;
//   font-size: 16px;
//   line-height: 1.35;
//   color: $primary-text-color;
// }
