.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  // position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
}

.modal__body {
  position: relative;
  background-color: var(--primary-white-color);
  padding: 40px 20px;
  margin: 75px 45px;
  width: 100%;
  @media screen and (min-width: $tablet) {
    padding: 0px 28px 28px 0px;
    max-width: 820px;
  }
}

.modal-mobile__body {
  // width: 100%;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.modal-tablet__body {
  display: none;
  @media screen and (min-width: $tablet) {
    // width: 100%;
    // height: 600px;
    // max-width: 822px;
    display: block;
  }
}

.tablet-wrapper {
  display: flex;
}

.tablet-wrapper__text {
  margin-left: 32px;
}

.icon-close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  fill: black;
  color: black;
  cursor: pointer;
}

.icon-close:hover,
.icon-close:focus {
  fill: black;
}

.modal__header {
  width: auto;
  margin-bottom: 20px;

  font-family: $roboto-family;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.18;

  color: var(--primary-color);
  @media screen and (min-width: $tablet) {
    font-weight: $roboto-font-700;
    margin-top: 40px;
  }
}

.instruction {
  margin-bottom: 20px;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;

  color: var(--primary-color);

  @media screen and (min-width: $tablet) {
    margin-top: 28px;
    margin-bottom: 24px;
    margin-left: 28px;
  }
}
.instruction-text {
  margin-bottom: 32px;

  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;

  color: var(--primary-color);
  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    margin-left: 28px;
  }
}

.modal-img {
  display: block;
  margin-bottom: 22px;
}

.ingredients {
  margin-top: 22px;
  margin-bottom: 8px;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;

  color: var(--primary-color);
}

.per-coctail__text {
  margin-bottom: 8px;

  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;

  color: var(--primary-color);
}

.ingredients-list {
  margin-bottom: 32px;
}

.ingredients-list__item {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;

  color: var(--primary-color);
}
.ingredients-list__link {
}

.modal__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: 0;
  width: fit-content;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  outline: none;

  background-color: $primary-button-color;
  color: var(--primary-white-color);
  @media screen and (min-width: $tablet) {
    margin-right: 0;
  }
}

.modal__btn:hover,
.modal__btn:focus {
  background-color: var(--primary-white-color);
  color: $primary-button-color;
  border: 1px solid $primary-button-color;
}
