// .pagination-container {
//   margin-top: 50px;
//   display: flex;
//   justify-content: center;
//   column-gap: 20px;
// }

// .pagination {
//   display: none;
//   padding-left: 20px;
//   padding-right: 20px;
//   margin: 0 auto;
//   margin-bottom: 20px;
// }
// .pagination-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;
//   list-style: none;
//   justify-content: center;
// }
// @media screen and (min-width: 768px) {
//   .pagination {
//     padding-left: 32px;
//     padding-right: 32px;
//   }
// }
// @media screen and (min-width: 1280px) {
//   .pagination {
//     padding-left: 16px;
//     padding-right: 16px;
//   }
// }

// .pagination-btn {
//   width: 70px;
//   height: 70px;
//   font-size: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 40px;
//   height: 40px;
//   font-size: 16px;
//   border: 2px solid orange;
//   border-radius: 50%;
// }

// .pagination-btn-active {
//   background-color: orange;
//   color: white;
//   cursor: pointer;
// }

// тест!!!!!!!!!!!!!!!!!!!!!!!

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.pagination__item {
  width: 70px;
  height: 70px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $primary-button-color;
  border-radius: 50%;
  color: var(--primary-color);
  cursor: pointer;
}

.pagination__item--active {
  background-color: $primary-button-color;
  color: white;
}
